@page "/counter"
@using Blazor.Extensions
@using Blazor.Extensions.Canvas.Canvas2D
@using Blazor.Extensions.Canvas.WebGL
@rendermode InteractiveAuto

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount kek</p>

<button class="btn btn-primary" @onclick="DoSomethingPress">Do something</button>

<BECanvas Width="800" Height="600" @ref="canvasRef"></BECanvas>

@code {
    WebGLContext webGL;
    protected BECanvasComponent canvasRef;

    private int currentCount = 0;

    private void DoSomethingPress()
    {
        currentCount++;
    }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        webGL = await canvasRef.CreateWebGLAsync();
        await webGL.ClearColorAsync(0, 0, 0, 1);

        await webGL.BeginBatchAsync();
        await webGL.ClearAsync(BufferBits.COLOR_BUFFER_BIT | BufferBits.DEPTH_BUFFER_BIT);
        await webGL.EndBatchAsync();
    }
}