@page "/counter"
@using Mainframe
@using Blazor.Extensions
@using Blazor.Extensions.Canvas.Canvas2D
@using Blazor.Extensions.Canvas.WebGL
@using System.Drawing
@rendermode InteractiveAuto

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>
<p role="status">Current count: @currentCount kek</p>

<BECanvas Width="800" Height="600" @ref="canvasRef"></BECanvas>

<button class="btn btn-primary" @onclick="DoSomethingPress">Do something</button>

@code {
    WebGLContext webGL;
    BECanvasComponent canvasRef;

    int currentCount = 0;
    int glWidth;
    int glHeight;

    private void DoSomethingPress()
    {
        currentCount++;

        
    }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            webGL = await canvasRef.CreateWebGLAsync();
            glWidth = webGL.DrawingBufferWidth;
            glHeight = webGL.DrawingBufferHeight;

            //await canvasHelper.Initialize();
        }

        await webGL.ClearColorAsync(0, 0, 0, 1);

        await webGL.BeginBatchAsync();
        await webGL.ClearAsync(BufferBits.COLOR_BUFFER_BIT | BufferBits.DEPTH_BUFFER_BIT);
        await webGL.EndBatchAsync();
    }

}